---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Technologies from "@/components/Technologies.astro"
import Education from "@/components/Education.astro"

---

<Layout
  title="Curriculum de Renzo Boneth - Desarrollador y Programador Web con +2 años de experiencia"
  description="Contrata a Renzo Boneth para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>

  <SectionContainer id="educacion">
    <Education />
  </SectionContainer>

  <SectionContainer id="tecnologias">
    <Technologies />
  </SectionContainer>
  </main>
</Layout>
